@model JobWeb2022.Models.ApplyForJob

@{
    ViewBag.Title = "Delete";
}



<h3 class="ListJob"> هل أنت متأكد من حذف  الوظيفة المتقم لها؟</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            الرساله
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>


    </dl>

    @using (Html.BeginForm("Delete" ,"Home",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.UserId);
        @Html.HiddenFor(x => x.JobId);
        @Html.HiddenFor(x => x.ApplyForJobId);
        <div class="form-actions no-color">
            <input type="submit" value="تاكيد الحذف" class="btn btn-danger" /> |
        @Html.ActionLink("العودة الى قائمة الوظائف", "GetUserById")
        </div>
    }
</div>
